# Application
PORT=8181
NODE_ENV=development
API_PREFIX=/api/v1
N8N_WEBHOOK_URL=https://your-n8n-instance.example.com/webhook/test
# Database
# For development, you can use a local MongoDB or Atlas URI
MONGODB_URI=mongodb://localhost:27017/horizon

# Authentication
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=30d
